<!-- About the Author Section -->
<div class="about-author">
    <h3>👋 <strong>About the Author</strong></h3>
    <p>
      Hi, I’m <strong>Shadman Kudchikar</strong>, the author of this blog post! I specialize in <strong>.NET development</strong> and have a passion for building scalable, high-performance applications.
    </p>
    <p>
      I am also the creator of <a href="https://github.com/bytlabs/BytLabs.MicroserviceTemplate" target="_blank"><strong>BytLabs.MicroserviceTemplate</strong></a>, a comprehensive template designed to help developers quickly build robust microservices with best practices.
    </p>
    <p>
      I am currently exploring new opportunities as a <strong>Lead Developer</strong> in .NET. If you're looking for someone to bring expertise in designing robust solutions to your team, I’d love to hear from you!
    </p>
    <p>
      Feel free to reach out to me directly on 
      <strong><a href="https://www.linkedin.com/in/shadman-kudchikar/" target="_blank">LinkedIn</a></strong>
      to discuss potential opportunities. Let’s connect and explore how I can contribute to your success!
    </p>
  </div>
  