<form action="https://github.us18.list-manage.com/subscribe/post?u=d3fdbde135c13020bc73e9e9c&amp;id=4d31644086" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />

    <div class="form-group">
        <input class="subscribe-email" type="email" name="EMAIL"  placeholder="youremail@example.com" />
    </div>

     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d3fdbde135c13020bc73e9e9c_4d31644086" tabindex="-1" value=""></div>
    <div class="clear">

    <button class=""  name="subscribe" type="submit" ><span>Subscribe</span></button>
    <script type="text/javascript">(function(g,h,o,s,t){h[o]('.location')[s]=h[o]('.location')[s] || g.location.href;h[o]('.referrer')[s]=h[o]('.referrer')[s] || h.referrer;})(window,document,'querySelector','value');</script>
</form>

