  <ul class="tags">
    {% for tag in site.data.tags %}
        {% assign tag_name = tag[0] %}
        {% assign tag_data = site.data.tags[tag_name] %}
        {% if forloop.index == site.data.tags.size %}
          <li>
               <a href='{{ site.baseurl }}tag/{{ tag_data.name | downcase | replace: ' ', '-' }}/'>{{ tag_data.title }} <span>{{ site.tags[tag_data.name].size }}</span></a>
          </li>
        {% else %}
           <li>
               <a class="tag" href='{{ site.baseurl }}tag/{{ tag_data.name | downcase | replace: ' ', '-' }}/'>{{ tag_data.title }} <span>{{ site.tags[tag_data.name].size }}</span></a>
           </li>
        {% endif %}
    {% endfor %}                 
</ul>