 <ul class="tags">
    <li><a class="tag" href="{{site.baseurl}}tag/csharp-beginner/">C# Beginner</a></li>    
    <li><a class="tag" href="{{site.baseurl}}tag/csharp-intermediate/">C# Intermediate</a></li>    
    <li><a class="tag" href="{{site.baseurl}}tag/csharp-advanced/">C# Advanced</a></li>
    <li><a class="tag" href="{{site.baseurl}}tag/csharp-tips/">C# Tips</a></li>
    <li><a class="tag" href="{{site.baseurl}}tag/csharp-multithreading/">C# Multithreading</a></li>
    <li><a class="tag" href="{{site.baseurl}}tag/csharp-design-patterns/">C# Design Patterns</a></li>  
    <li><a class="tag" href="{{site.baseurl}}tag/csharp-functional-programming/">C# Functional Programming</a></li>                    
</ul>